@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.azeret-mono-thin{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.azeret-mono-extra-thin{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.azeret-mono-light{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.azeret-mono-normal{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.azeret-mono-medium{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.azeret-mono-semi-bold{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.azeret-mono-bold{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.azeret-mono-extra-bold{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.azeret-mono-blac{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}